.hiden-prop {
    display: none;
}

.item-list,
.add-item {
    position: relative;
    padding: 30px;
    background: var(--main-color);
    width: 30rem;
    margin: auto;
    color: white;
    border-radius: 1rem;
}

.add-item {
    display: none;
    margin-bottom: 2rem;
}

.close-add-item, 
.open-add-item {
    font-weight: 600;
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: unset;
    width: 30px;
    transition: transform 0.5s;
}

.open-add-item {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;
    align-items: center;
    right: unset;
    width: unset;
    left: 2rem;
}

.close-add-item:hover,
.open-add-item:hover {
    transform: scale(1.2);
}

.close-add-item svg,
.open-add-item svg {
    display: inline-block;
    color: white;
}

.item-list h2,
.add-item h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.add-item form > input,
.add-item textarea,
.add-item li {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.add-item form > input,
.add-item form > textarea {
    font-size: 1rem;
    border: none;
    background-color: unset;
    font-weight: 700;
    border-bottom: 3px solid white;
    background-color: unset;
    color: white;
}

.add-item form > textarea::placeholder,
.add-item form > textarea {
    font-weight: 900;
    font-size: 17px;
}

.add-item form > input::placeholder,
.add-item form > textarea::placeholder {
    color: rgba(255, 255, 255, 0.418);
}

.add-item form button {
    display: block;
    margin: auto;
    background-color: white;
    color: rgba(0, 0, 0, 0.658);
    font-weight: 600;
    display: block;
    padding: 5px 30px;
    border-radius: 1rem;
}

.add-item ul input {
    margin-left: 20px;
    margin-right: 10px;
}

.item-list > ul {
    display: grid;
    row-gap: 10px;
}

.item-list > ul > li > ul > li {
    margin: 10px 0;
}

.item-list > ul > li > form > label {
    display: block;
    margin: 10px 0;
}

.item-list > ul p {
    display: inline;
}

.item-list > ul input {
    background-color: unset;
    border: none;
    padding: 0;
    font-size: 15px;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    color: white;
    font-weight: 700;
}

.item-list > ul input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.item-list > ul span {
    margin-right: 8px;
    font-weight: 700;
}

.item-list .setting-item {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0 0;
}

.item-list .setting-item button {
    color: rgba(0, 0, 0, 0.658);
    font-weight: 600;
    display: block;
    padding: 5px 30px;
    border-radius: 1rem;
    margin: 10px 0 0 0;
}

.tag-down,
.tag-up {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    cursor: pointer;
}

.icon-row {
    height: 15px;
    transition: transform .5s;
}

.tag-down:hover .icon-row {
    transform: rotate(90deg);
}

.tag-down span,
.tag-up span {
    text-transform: uppercase;
}

.tag-up:hover .icon-row {
    transform: rotate(-90deg);
}

.list-tags-to-select {
    font-weight: 700;
}

.list-tags-to-select li {
    margin-top: 10px;
    margin-left: 10px;
}

.list-tags-to-select li:nth-child(1) {
    margin-left: 0px;
}

.list-tags-to-select input {
    margin-right: 10px;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    background-color: #33333333;
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
}

.popup {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    row-gap: 1rem;
}

.popup input {
    background-color: unset;
    border: none;
    padding: 0;
    font-size: 15px;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: -2px;
    color: var(--main-color);
}

.popup input::placeholder {
    color: #1485a154
}

.wrapper-buttons {
    display: flex;
    justify-content: space-around;
}

.wrapper-buttons button {
    color: rgba(0, 0, 0, 0.658);
    font-weight: 600;
    display: block;
    padding: 5px 30px;
    border-radius: 1rem;
    margin: 0 10px;
}

#delete-tag:disabled {
    cursor: default
}

.input-update-tag {
    cursor: pointer;
}