nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    margin-bottom: 30px;
    background-color: var(--main-color);
}

.logo {
    height: 3rem;
    color: white;
    cursor: pointer;
}

.button-nav {
    background-color: unset;
    color: white;
    font-weight: 700;
    transition: border-bottom 0.2s, margin-bottom 0.2s;
}

.button-nav:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid white;
}

.bottom-border {
    border-bottom: 3px solid white;
}

.user {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5rem;
}

.user svg {
    grid-row: 1/3;
}

.user h1 {
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

.user-icon {
    height: 2.5rem;
    color: white;
}

.logout {
    display: inline-block;
    justify-self: center;
}

.tag-list-in-item p {
    font-weight: 700;
}

.tag-list-in-item li {
    position: relative;
    margin-left: 25px;
    margin-top: 10px;
}

.tag-list-in-item li:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: white;
    top: 40%;
    border-radius: 50%;
    left: -14px;
}
